<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ICERP-20160623062053.mdf;Initial Catalog=aspnet-ICERP-20160623062053;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <!--<add name="IcerpEntities" connectionString="metadata=res://*/Core.csdl|res://*/Core.ssdl|res://*/Core.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CARLOS-PC\SQL2014;Initial Catalog=Icerp;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IcerpEntities" connectionString="metadata=res://*/Core.csdl|res://*/Core.ssdl|res://*/Core.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SII-11\MSSQL2014;Initial Catalog=Icerp;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="IcerpEntities" connectionString="metadata=res://*/Core.csdl|res://*/Core.ssdl|res://*/Core.msl;provider=System.Data.SqlClient;provider connection string=&quot;workstation id=DBIcerp.mssql.somee.com;packet size=4096;user id=icerpAdmin;pwd=icerp.123;data source=DBIcerp.mssql.somee.com;persist security info=False;initial catalog=DBIcerp&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>

    <add key="SendMailMessagesFromAddress" value="jcaleman@uat.edu.mx" />
    <add key="SendMailSTMPHostAddress" value="correo.uat.edu.mx" />
    <add key="SendMailSMTPUserName" value="jcaleman@uat.edu.mx" />
    <add key="SendMailSMTPUserPassword" value="******" />
    <add key="SendMailSTMPPort" value="587" />

    <add key="log4net_config" value="C:\LogsSIARH\LoggerUtility" />
  </appSettings>

  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Autenticacion.aspx" timeout="2880" defaultUrl="~/"/>
    </authentication>
    <!--<authorization>
      <deny users ="?" />
      <allow users = "*" />
    </authorization>-->
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>

    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <defaultDocument>
      <files>
        <add value="Autenticacion.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>